.page-header {
	background-color: black;
}

h1, h3 {
	text-align: center;
	background-color: black;
	color: white;
}

#backgroundImg {
	position: relative;
	top: 0;
	left: 0;
	
}

.pageBackground{
	position: relative;
}

#Chuck {
	position: absolute;
	top: 40%;
	left: 200px;
	width: 30%;
	
}